body {
    background-color: #F6DF8A;
    height: 100%;
    margin: 0;
}

nav {
    list-style-type: none;
    margin: 0;
    padding:20px;

}

main {
    padding-top: 8%;
    margin: auto;
    width: 80%;
}

header {
    margin: auto;
    width: 50%;
    padding: 10px;
}

li {
    float: left;
}

a {
    display: block;
    padding: 15px;
    background-color: #F3E4E4;
}

.filters {
    padding-left: 39%;
}

nav a:hover {
    background-color: #33C8FF;
}

.column {
    float: left;
    padding-left: 15%;
}

.mainColumn {
    float: left;
    padding-right: 1%;
    padding-left: 11%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding-left: 9%;
}

.feedContainer{
    display: flex;
    flex-direction: row;
    column-count: 2;
    height: 100%;
    width: 100%;
    padding-left: 3%;
}

.eventImage{
    padding-left: 20%;
    width: 15%;
    height: 5%;
}

/*star rating styling*/
.clip-star {
  background: gold;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 100px;
  width: 100px;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
