body {
    background-color: #F6DF8A;
    height: 100%; 
    margin: auto; 
}

nav {
    list-style-type: none;
    padding:20px;
    margin-left: 330px
}

main {
    padding-top: 8%;
    margin: auto;
    width: 80%;
}

header {
    margin: auto;
    width: 50%;
    padding: 10px;
}

li {
    float: left;
}
  
a {
    display: block;
    padding: 15px;
    background-color: #F3E4E4;
}

.filters {
    margin-left: 21.5%;
}

nav a:hover {
    background-color: #33C8FF;
}

.column {
    float: left;
}

.mainColumn {
    float: left;
    padding-right: 1%;
    padding-left: 10%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%; 
    width: 100%;
    padding-left: 9%;  
}

.eventColumn{
    display: flex;
    flex-direction: column;
    column-count: 2;
    height: 100%; 
    width: 100%;
    padding-left: 3%;  
}

.eventImage{
    border-radius: 20px;
    margin-left: 20%;
    padding-bottom: 5px; 
    width: 15%;
    height: 5%;
}

.eventImage:hover {
    box-shadow: 0 0 4px 2px #33C8FF;
  }