<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
      
  <body>

    <header>
      <div class="column"> 
        <img src="unnamed.png" width=100% height=100%> 
      </div>
      <div class="mainColumn"> 
        <nav> 
          <li> <a id="Home Button"> Home </a> </li>
          <li> <a id="Societies"> Societies </a> </li>
          <li> <a id="ProfileButton"> Profile </a> </li>
        </nav>
      </div>
    </header>

    <main>
      <div id="History" class="flex-container">
        <h1 style="padding-left: 10%;">Attendance History</h1>
      </div>

      <div id="eventFeed" class="feedContainer">
        <script src="history.js"></script>
      </div>
    </main>

  </body>
</html>