<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        <meta name="viewport" content="width=device-widthm, initial-scale=1.0">
    </head>
        
    <body>

        <header>
            <div class="column">
                <img src="static/unnamed.png" width=100% height=100%>
            </div>
            <div class="column">
                <nav>
                    <li> <a id="Home Button"> Home </a> </li>
                    <li> <a id="Societies"> Societies </a> </li>
                    <li> <a id="ProfileButton"> Profile </a> </li>
                </nav>
            </div>
        </header>

        <main>
            <button id="test-button">Test Button</button>
            <div id="Active Events" class="flex-container">
                <h1 class="mainColumn">Active Events</h1>
                <div class="filters">
                    <nav>
                        <a id="Filter Button"> Filters </a>
                    </nav>
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <a id="Networking Button">Networking</a>
                            <a id="Seminar Button">Seminar</a>
                            <a id="Social Button">Social</a>
                            <a id="Workshop Button">Workshop</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="eventFeed" class="feedContainer">
                <script src="static/home.js"></script>
            </div>
        </main>

    </body>
</html>