<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/profileStyle.css') }}">
    </head>
        
    <body>

        <header>
            <div class="column"> 
                <img src="static/unnamed.png" width=100% height=100%> 
            </div>
            <div class="mainColumn"> 
                <nav> 
                    <li> <a id="Home Button"> Home </a> </li>
                    <li> <a id="Societies"> Societies </a> </li>
                    <li> <a> Profile </a> </li>
                </nav>
            </div>
        </header>

        <main>
            <div id="Active Events" class="flex-container">
                <h1 class="mainColumn">Profile</h1>
                <div> 
                    <nav> 
                        <li> <a id="History Button"> History </a> </li>
                        <li> <a id="Settings Button"> Settings </a> </li>
                    </nav>
                </div>
            </div>

            <div id="fSocieties" class="fSocieties">
                <h1>Favourite Societies</h1>
            </div>

            <div id="eventFeed" class="feedContainer">
                <script src="static/profile.js"></script>
            </div>
        </main>

    </body>
</html>