<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <header>
      <div class="column"> 
        <img src="{{ url_for('static',filename='unnamed.png') }}" width=100% height=100%> 
      </div>
      <div class="mainColumn" style="padding-left: 15%;"> 
        <nav> 
          <li> <a id="Home Button"> Home </a> </li>
          <li> <a id="Societies"> Societies </a> </li>
          <li> <a id="ProfileButton"> Profile </a> </li>
        </nav>
      </div>
    </header>
    <main>
      <div id="societyBanner" class="societyBanner"></div>
      <h1 id="societyName" class="mainColumn" style="padding-left: 20%;"></h1>
      <div class="filters"> 
        <nav class="eventPageFilters" style="padding-right: 0%"> 
          <li> <a id="About Button"> About </a> </li>
          <li> <a id="Events Button"> Events </a> </li>
        </nav>
      </div>
      <div class="column" width=50% style="padding-left: 20%">
        <p id="aboutSociety" class="about"></p> 
        <p id="societyEvents" class="about"></p>
      </div>
      <script src="{{ url_for('static',filename='society.js') }}"></script>
      <script>const data = getSociety( {{ society | tojson }} )</script>
    </main>
  </body>
</html>